[submodule "python_sdk"]
	path = python_sdk
	url = https://github.com/matrice-ai/python-sdk.git
	branch = dev
[submodule "/content/ml_pytorch_vision_classification/python_sdk"]
	path = /content/ml_pytorch_vision_classification/python_sdk
	url = https://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@github.com/matrice-ai/python-sdk.git
