annotated-types
torch
torchvision
boto3
pymongo
cloudpathlib
s3fs
numpy
Pillow
fastapi
uvicorn
python-multipart
requests
anyio
certifi
charset-normalizer
click
colorama
exceptiongroup
h11
idna
importlib-metadata
pydantic
pydantic_core
setuptools
sniffio
starlette
typing_extensions
urllib3
zipp
