annotated-types
torch
torchvision
boto3
pymongo
numpy
matplotlib
ipywidgets
scikit-image
pyarrow
Pillow
fastapi
uvicorn
python-multipart
requests
anyio
certifi
charset-normalizer
click
colorama
exceptiongroup
h11
idna
importlib-metadata
pydantic
pydantic_core
setuptools
sniffio
starlette
typing_extensions
urllib3
zipp
scikit-learn
pandas
opencv-python
psutil
PyYAML
scipy
onnx
onnxruntime
openvino
pycocotools
bson
ultralytics
